<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB36NAQ3y--SKWLyoaZcPQjV5LNaT_4Of0</string>
	<key>GCM_SENDER_ID</key>
	<string>77952150561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plowProject</string>
	<key>PROJECT_ID</key>
	<string>sweetmeproject</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetmeproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77952150561:ios:33a54c0029de3bd2694760</string>
</dict>
</plist>